#Key management and access
use_keys=false
key_mc='keys/example.notpem'
key_ys='keys/example.notpem'
username='ubuntu'

#Ports
# Used by minecraft servers
mcport=25565
# Used by control server/client
controlport=25555
# Range of jmx ports to use, recommended ~1 per iteration. Used locally within nodes so no need to open these ports
jmx_port_start=25585
jmx_port_stop=25635


#File locations on remote nodes
#mclocation="~/mc"
#yardsticklocation="~/yardstick"
mclocation="/var/scratch/jef400/mc"
yardsticklocation="/var/scratch/jef400/yardstick"
# If running on DAS5, use /var/scratch/%USERNAME%/...

#Experiment configuration
duration=60
iterations=1
num_players=1
# Will run iterations for each listed server in order, make sure these match the folder names in "servers" directory
servers=("Vanilla" "Forge" "PaperMC")

# Worlds used in each experiment. For default baseline world, seed is -392114485
worlds=("baseline" "FutureCity")

# Emulated player behaviour (See Yardstick project linked in README.md)
# 4 is bounded random movements
# 12 is run away from spawn
bot_behaviour=4
# If bounded, how large is the area
bounding_box=32

# Memory, passed as JVM args
ram="Xmx4G"

# Whether or not to collect yardstick-reported player messages
collect_yardstick=True

# Whether to use RCON to record server collected profiling
debug_profile=1

# If experiment crashed, set this to true collect partial results and then continue execution
resume=false
# If resuming, set this to true to use local results rather than those collected from remote
resume_from_results=false

# If MC and Yardstick folders have already been copied to remote nodes, prevents unecessary copying
already_copied=false

# JMX 
    #vanilla is "net.minecraft.server:type=Server"
    #Forge is "net.minecraft.server:type=Server"
    #PaperMc is "net.minecraft.server.v1_16_R3:type=Server"
# Ensure this is in order of servers variable!
jmx_urls=("net.minecraft.server:type\=Server" "net.minecraft.server:type=Server"  "net.minecraft.server.v1_16_R3:type=Server")

